<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.brilliancesoft.mushaf"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-sdk tools:overrideLibrary="com.github.zawadz88.materialpopupmenu" />

    <application
        android:name=".ui.common.sharedComponent.MushafApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/AppTheme.Launcher">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.openSourceLicenses.OpenSourceLicenseActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity
            android:name=".ui.library.read.ReadLibraryActivity"
            android:exported="true" />
        <activity

            android:name=".ui.quran.read.ReadQuranActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.library.manage.ManageLibraryActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.common.sharedComponent.ShortcutsActivity"
            android:exported="true" />

        <service
            android:name=".framework.DownloadService"
            android:enabled="true" />

        <service
            android:name=".ui.audioPlayer.MediaPlayerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.downloadService.action.RESTART" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name=".ui.audioPlayer.MediaDownloadService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.downloadService.action.RESTART" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name="com.google.android.exoplayer2.scheduler.PlatformScheduler$PlatformSchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>

</manifest>