<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.brilliancesoft.mushaf"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.brilliancesoft.mushaf.ui.commen.sharedComponent.MushafApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name="com.brilliancesoft.mushaf.ui.openSourceLicenses.OpenSourceLicenseActivity" />
        <activity android:name="com.brilliancesoft.mushaf.ui.search.SearchActivity" />
        <activity
            android:name="com.brilliancesoft.mushaf.ui.library.read.ReadLibraryActivity"
            android:exported="true" />
        <activity android:name="com.brilliancesoft.mushaf.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name="com.brilliancesoft.mushaf.ui.quran.read.ReadQuranActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name="com.brilliancesoft.mushaf.ui.library.manage.ManageLibraryActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.brilliancesoft.mushaf.ui.quran.sharedComponent.ShortcutsActivity"
            android:exported="true" />

        <service
            android:name="com.brilliancesoft.mushaf.framework.DownloadService"
            android:enabled="true"></service>
    </application>

</manifest>